*{
    margin: 0;
     box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}


.contenedor{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

.btn{
    text-decoration: none;
    border: none;
    padding: 10px 0;
    color: black;
    
}

.btn:hover{
    background-color: gray;
    color: aliceblue;
}

.auth_section{
    display:flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 40px 30px 40px;
    margin-bottom: 20px;
    background-color: white;
    text-decoration: none;
    color: black;
}

@media (min-width: 600px) {
    .auth_section {
        width: 50%;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .auth_section {
        width: 30%;
        margin: 0 auto;
    }
}

.auth_section a{
    text-decoration: none;
    color: black;
    margin-top: 20px;
}

.input_auth{
   margin-top: 20px;
   
}

.input_auth input{
    padding: 10px ;
    border:solid 0.5px black;
    width: 100%;
 }


 .input_auth_both{
    display: flex;
 }


 /******/

.customer_read{
    display:none;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
    padding: 20px 40px 30px 40px;
    margin-bottom: 20px;
    background-color: white;
    text-decoration: none;
    color: black;
}

@media (min-width: 600px) {
    .customer_read {
        width: 50%;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .customer_read {
        width: 30%;
        margin: 0 auto;
    }
}
#btn_read{
    margin: 20px 0;
    width: 100%;
}

.customer{
    text-align: left;
}



/***************************/

#aside_menu{
    display: none;
    text-align: center;
    background-color:white;
    color: black;
    padding: 20px 0;
}
#btn_menu{
    background-color: grey;
    width: 100%;
    color: white;
    border-radius: 0;
}

#aside_menu .memu_options{
    list-style: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
}

.btn_aside{
    width: 100%;
    padding: 20px 0;
    background-color: white;
    color: black;
}

@media (min-width: 1200px) {
    #aside_menu{
        width: 25%;
        height: 100vh;
        display: none;
    }

    #btn_menu{
        display: none;
    }

    .contenedor_sidebar_content{
        display: flex;
    }
}


@media (min-width: 1200px) {
    #aside_menu h2{
        margin: 20px 0;
    }
    
    #aside_menu .memu_options{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

.active{
    background-color: darkgrey;
    width: 110%;
    height: 100%;
    border-radius: 10px;
    color: aliceblue;
}
.main_title {
    margin: 0;
}
.head_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    color: white;
    padding: 10px;
}